/* bg */

.bg-white {
    background-color: whitesmoke;
}

.bg-base {
    background-color: cadetblue;
}

.bg-light-blue {
    background-color: darkseagreen;
}

.bg-red {
    background-color: lightgray;
}